/* HABILIDADES */
#habilidades {
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 70%;
    border-bottom-right-radius: 70%;
}

.habilidades h2{
    background: linear-gradient(90deg, var(--cor-primaria), var(--cor-terciaria)); 
    background-clip: text;   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideFromTop 1s ease-out forwards;
    opacity: 0;
    transform: translateY(-50px);
}

.habilidades .container-habilidades {    
    text-align: center;    
    display: flex;
    justify-content: center;    
    flex-direction: row;
    flex-wrap: wrap;
}

.habilidades .container-habilidades .informacoes{
    max-width: 350px;
    padding: 40px 20px;   
}

.habilidades .container-habilidades .informacoes p,
.habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo i{
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.habilidades .container-habilidades .informacoes:hover p,
.habilidades .container-habilidades .informacoes:hover h3,
.habilidades .container-habilidades .informacoes:hover .logo i{
    color: var(--cor-primaria);
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    filter: brightness(1.3);
}

.habilidades .container-habilidades .informacoes h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--cor-primaria);     
}

.habilidades .container-habilidades .informacoes p {
    font-size: 1.8rem;
    font-family: var(--fonte-secundaria);
    letter-spacing: 1px;
}

.habilidades .container-habilidades .informacoes .logo i {
    font-size: 8rem;
}